.primaryButton {
  display: flex;
  align-items: center;
  gap: var(--gap-12);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--brand-accent-secondary-default);
  font-family: var(--font-golos-text);
}
.div {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.iconContainer {
  height: var(--height-48);
  width: var(--width-48);
  border-radius: var(--br-100);
  background-color: var(--brand-accent-secondary-default);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
