.rightIcon {
  height: var(--height-60);
  width: var(--width-60);
  position: relative;
}
.vectorIcon {
  position: absolute;
  height: 83.33%;
  width: 100%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
