.root {
  height: var(--height-60);
  width: var(--width-60);
  border-radius: var(--br-50);
  background-color: var(--brand-accent-secondary-default);
  display: flex;
  align-items: center;
  justify-content: center;
}
