.leftIcon {
  height: var(--height-60);
  width: var(--width-60);
  position: relative;
}
.vectorIcon {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 10%;
  right: 30%;
  bottom: 10%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
